html{
	margin:0;
	padding:0;
	border:0;
}body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{
	display:block;
}body{
	line-height:1.5;
	background:white;
}table{
	border-collapse:separate;
	border-spacing:0;
}caption,th,td{
	text-align:left;
	font-weight:normal;
	float:none !important;
}table,th,td{
	vertical-align:middle;
}blockquote:before,blockquote:after,q:before,q:after{
	content:'';
}blockquote,q{
	quotes:"" "";
}a img{
	border:none;
}:focus{
	outline:0;
}body{
	color:#222;
}h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	color:#111;
}h1{
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
}h2{
	font-size:2em;
	margin-bottom:0.75em;
}h3{
	font-size:1.5em;
	line-height:1;
	margin-bottom:1em;
}h4{
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}h5{
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}h6{
	font-size:1em;
	font-weight:bold;
}h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{
	margin:0;
}p{
	margin:0 0 1.5em;
}.left{
	float:left !important;
}p .left{
	margin:1.5em 1.5em 1.5em 0;
	padding:0;
}.right{
	float:right !important;
}p .right{
	margin:1.5em 0 1.5em 1.5em;
	padding:0;
}a:focus,a:hover{
	color:#09f;
}a{
	color:#06c;
	text-decoration:underline;
}blockquote{
	margin:1.5em;
	color:#666;
	font-style:italic;
}strong,dfn{
	font-weight:bold;
}em,dfn{
	font-style:italic;
}sup,sub{
	line-height:0;
}abbr,acronym{
	border-bottom:1px dotted #666;
}address{
	margin:0 0 1.5em;
	font-style:italic;
}del{
	color:#666;
}pre{
	margin:1.5em 0;
	white-space:pre;
}pre,code,tt{
	font:1em 'andale mono', 'lucida console', monospace;
	line-height:1.5;
}li ul,li ol{
	margin:0;
}ul,ol{
	margin:0 1.5em 1.5em 0;
	padding-left:1.5em;
}ul{
	list-style-type:disc;
}ol{
	list-style-type:decimal;
}dl{
	margin:0 0 1.5em 0;
}dl dt{
	font-weight:bold;
}dd{
	margin-left:1.5em;
}table{
	margin-bottom:1.4em;
	width:100%;
}th{
	font-weight:bold;
}thead th{
	background:#c3d9ff;
}th,td,caption{
	padding:4px 10px 4px 5px;
}tbody tr:nth-child(even) td,tbody tr.even td{
	background:#e5ecf9;
}tfoot{
	font-style:italic;
}caption{
	background:#eee;
}.small{
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}.large{
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}.hide{
	display:none;
}.quiet{
	color:#666;
}.loud{
	color:#000;
}.highlight{
	background:#ff0;
}.added{
	background:#060;
	color:#fff;
}.removed{
	background:#900;
	color:#fff;
}.first{
	margin-left:0;
	padding-left:0;
}.last{
	margin-right:0;
	padding-right:0;
}.top{
	margin-top:0;
	padding-top:0;
}.bottom{
	margin-bottom:0;
	padding-bottom:0;
}label{
	font-weight:bold;
}fieldset{
	padding:0 1.4em 1.4em 1.4em;
	margin:0 0 1.5em 0;
	border:1px solid #ccc;
}legend{
	font-weight:bold;
	font-size:1.2em;
	margin-top:-0.2em;
	margin-bottom:1em;
}fieldset,#IE8#HACK{
	padding-top:1.4em;
}legend,#IE8#HACK{
	margin-top:0;
	margin-bottom:0;
}input[type=text],input[type=password],input[type=url],input[type=email],input.text,input.title,textarea{
	background-color:#fff;
	border:1px solid #bbb;
	color:#000;
}input[type=text]:focus,input[type=password]:focus,input[type=url]:focus,input[type=email]:focus,input.text:focus,input.title:focus,textarea:focus{
	border-color:#666;
}select{
	background-color:#fff;
	border-width:1px;
	border-style:solid;
}input[type=text],input[type=password],input[type=url],input[type=email],input.text,input.title,textarea,select{
	margin:0.5em 0;
}input.text,input.title{
	width:300px;
	padding:5px;
}input.title{
	font-size:1.5em;
}textarea{
	width:99%;
	height:250px;
	padding:5px;
}form.inline{
	line-height:3;
}form.inline p{
	margin-bottom:0;
}.error,.alert,.notice,.success,.info{
	padding:0.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}.error,.alert{
	background:#fbe3e4;
	color:#8a1f11;
	border-color:#fbc2c4;
}.notice{
	background:#fff6bf;
	color:#514721;
	border-color:#ffd324;
}.success{
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880;
}.info{
	background:#d5edf8;
	color:#205791;
	border-color:#92cae4;
}.error a,.alert a{
	color:#8a1f11;
}.notice a{
	color:#514721;
}.success a{
	color:#264409;
}.info a{
	color:#205791;
}.container{
	width:950px;
	margin:0 auto;
}.showgrid{
	background:url(src/grid.png);
}.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24{
	float:left;
	margin-right:10px;
}.last{
	margin-right:0;
}.span-1{
	width:30px;
}.span-2{
	width:70px;
}.span-3{
	width:110px;
}.span-4{
	width:150px;
}.span-5{
	width:190px;
}.span-6{
	width:230px;
}.span-7{
	width:270px;
}.span-8{
	width:310px;
}.span-9{
	width:350px;
}.span-10{
	width:390px;
}.span-11{
	width:430px;
}.span-12{
	width:470px;
}.span-13{
	width:510px;
}.span-14{
	width:550px;
}.span-15{
	width:590px;
}.span-16{
	width:630px;
}.span-17{
	width:670px;
}.span-18{
	width:710px;
}.span-19{
	width:750px;
}.span-20{
	width:790px;
}.span-21{
	width:830px;
}.span-22{
	width:870px;
}.span-23{
	width:910px;
}.span-24{
	width:950px;
	margin-right:0;
}input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{
	border-left-width:1px;
	border-right-width:1px;
	padding-left:5px;
	padding-right:5px;
}input.span-1,textarea.span-1{
	width:18px;
}input.span-2,textarea.span-2{
	width:58px;
}input.span-3,textarea.span-3{
	width:98px;
}input.span-4,textarea.span-4{
	width:138px;
}input.span-5,textarea.span-5{
	width:178px;
}input.span-6,textarea.span-6{
	width:218px;
}input.span-7,textarea.span-7{
	width:258px;
}input.span-8,textarea.span-8{
	width:298px;
}input.span-9,textarea.span-9{
	width:338px;
}input.span-10,textarea.span-10{
	width:378px;
}input.span-11,textarea.span-11{
	width:418px;
}input.span-12,textarea.span-12{
	width:458px;
}input.span-13,textarea.span-13{
	width:498px;
}input.span-14,textarea.span-14{
	width:538px;
}input.span-15,textarea.span-15{
	width:578px;
}input.span-16,textarea.span-16{
	width:618px;
}input.span-17,textarea.span-17{
	width:658px;
}input.span-18,textarea.span-18{
	width:698px;
}input.span-19,textarea.span-19{
	width:738px;
}input.span-20,textarea.span-20{
	width:778px;
}input.span-21,textarea.span-21{
	width:818px;
}input.span-22,textarea.span-22{
	width:858px;
}input.span-23,textarea.span-23{
	width:898px;
}input.span-24,textarea.span-24{
	width:938px;
}.append-1{
	padding-right:40px;
}.append-2{
	padding-right:80px;
}.append-3{
	padding-right:120px;
}.append-4{
	padding-right:160px;
}.append-5{
	padding-right:200px;
}.append-6{
	padding-right:240px;
}.append-7{
	padding-right:280px;
}.append-8{
	padding-right:320px;
}.append-9{
	padding-right:360px;
}.append-10{
	padding-right:400px;
}.append-11{
	padding-right:440px;
}.append-12{
	padding-right:480px;
}.append-13{
	padding-right:520px;
}.append-14{
	padding-right:560px;
}.append-15{
	padding-right:600px;
}.append-16{
	padding-right:640px;
}.append-17{
	padding-right:680px;
}.append-18{
	padding-right:720px;
}.append-19{
	padding-right:760px;
}.append-20{
	padding-right:800px;
}.append-21{
	padding-right:840px;
}.append-22{
	padding-right:880px;
}.append-23{
	padding-right:920px;
}.prepend-1{
	padding-left:40px;
}.prepend-2{
	padding-left:80px;
}.prepend-3{
	padding-left:120px;
}.prepend-4{
	padding-left:160px;
}.prepend-5{
	padding-left:200px;
}.prepend-6{
	padding-left:240px;
}.prepend-7{
	padding-left:280px;
}.prepend-8{
	padding-left:320px;
}.prepend-9{
	padding-left:360px;
}.prepend-10{
	padding-left:400px;
}.prepend-11{
	padding-left:440px;
}.prepend-12{
	padding-left:480px;
}.prepend-13{
	padding-left:520px;
}.prepend-14{
	padding-left:560px;
}.prepend-15{
	padding-left:600px;
}.prepend-16{
	padding-left:640px;
}.prepend-17{
	padding-left:680px;
}.prepend-18{
	padding-left:720px;
}.prepend-19{
	padding-left:760px;
}.prepend-20{
	padding-left:800px;
}.prepend-21{
	padding-left:840px;
}.prepend-22{
	padding-left:880px;
}.prepend-23{
	padding-left:920px;
}.border{
	padding-right:4px;
	margin-right:5px;
	border-right:1px solid #ddd;
}.colborder{
	padding-right:24px;
	margin-right:25px;
	border-right:1px solid #ddd;
}.pull-1{
	margin-left:-40px;
}.pull-2{
	margin-left:-80px;
}.pull-3{
	margin-left:-120px;
}.pull-4{
	margin-left:-160px;
}.pull-5{
	margin-left:-200px;
}.pull-6{
	margin-left:-240px;
}.pull-7{
	margin-left:-280px;
}.pull-8{
	margin-left:-320px;
}.pull-9{
	margin-left:-360px;
}.pull-10{
	margin-left:-400px;
}.pull-11{
	margin-left:-440px;
}.pull-12{
	margin-left:-480px;
}.pull-13{
	margin-left:-520px;
}.pull-14{
	margin-left:-560px;
}.pull-15{
	margin-left:-600px;
}.pull-16{
	margin-left:-640px;
}.pull-17{
	margin-left:-680px;
}.pull-18{
	margin-left:-720px;
}.pull-19{
	margin-left:-760px;
}.pull-20{
	margin-left:-800px;
}.pull-21{
	margin-left:-840px;
}.pull-22{
	margin-left:-880px;
}.pull-23{
	margin-left:-920px;
}.pull-24{
	margin-left:-960px;
}.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24{
	float:left;
	position:relative;
}.push-1{
	margin:0 -40px 1.5em 40px;
}.push-2{
	margin:0 -80px 1.5em 80px;
}.push-3{
	margin:0 -120px 1.5em 120px;
}.push-4{
	margin:0 -160px 1.5em 160px;
}.push-5{
	margin:0 -200px 1.5em 200px;
}.push-6{
	margin:0 -240px 1.5em 240px;
}.push-7{
	margin:0 -280px 1.5em 280px;
}.push-8{
	margin:0 -320px 1.5em 320px;
}.push-9{
	margin:0 -360px 1.5em 360px;
}.push-10{
	margin:0 -400px 1.5em 400px;
}.push-11{
	margin:0 -440px 1.5em 440px;
}.push-12{
	margin:0 -480px 1.5em 480px;
}.push-13{
	margin:0 -520px 1.5em 520px;
}.push-14{
	margin:0 -560px 1.5em 560px;
}.push-15{
	margin:0 -600px 1.5em 600px;
}.push-16{
	margin:0 -640px 1.5em 640px;
}.push-17{
	margin:0 -680px 1.5em 680px;
}.push-18{
	margin:0 -720px 1.5em 720px;
}.push-19{
	margin:0 -760px 1.5em 760px;
}.push-20{
	margin:0 -800px 1.5em 800px;
}.push-21{
	margin:0 -840px 1.5em 840px;
}.push-22{
	margin:0 -880px 1.5em 880px;
}.push-23{
	margin:0 -920px 1.5em 920px;
}.push-24{
	margin:0 -960px 1.5em 960px;
}.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24{
	float:left;
	position:relative;
}div.prepend-top,.prepend-top{
	margin-top:1.5em;
}div.append-bottom,.append-bottom{
	margin-bottom:1.5em;
}.box{
	padding:1.5em;
	margin-bottom:1.5em;
	background:#e5eCf9;
}hr{
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:1px;
	margin:0 0 17px;
	border:none;
}hr.space{
	background:#fff;
	color:#fff;
	visibility:hidden;
}.clearfix:after,.container:after{
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}.clearfix,.container{
	display:block;
}.clear{
	clear:both;
}.CodeRay{
	background-color:#f2f2f2;
	border:1px solid #ddd;
	color:black;
}.CodeRay pre{
	margin:0px;
}span.CodeRay{
	white-space:pre;
	border:0px;
	padding:2px;
}table.CodeRay{
	border-collapse:collapse;
	width:100%;
	padding:2px;
}table.CodeRay td{
	padding:2px 4px;
	vertical-align:top;
}.CodeRay .line-numbers{
	background-color:#d5f6f6;
	color:gray;
	text-align:right;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}.CodeRay .line-numbers a{
	background-color:#d5f6f6 !important;
	color:gray !important;
	text-decoration:none !important;
}.CodeRay .line-numbers a:target{
	color:blue !important;
}.CodeRay .line-numbers .highlighted{
	color:red !important;
}.CodeRay .line-numbers .highlighted a{
	color:red !important;
}.CodeRay span.line-numbers{
	padding:0px 4px;
}.CodeRay .line{
	display:block;
	float:left;
	width:100%;
}.CodeRay .code{
	width:100%;
}.CodeRay .code pre{
	overflow:auto;
}.CodeRay .debug{
	color:white !important;
	background:blue !important;
}.CodeRay .annotation{
	color:#007;
}.CodeRay .attribute-name{
	color:#b48;
}.CodeRay .attribute-value{
	color:#700;
}.CodeRay .binary{
	color:#509;
}.CodeRay .char .content{
	color:#d20;
}.CodeRay .char .delimiter{
	color:#710;
}.CodeRay .char{
	color:#d20;
}.CodeRay .class{
	color:#B06;
	font-weight:bold;
}.CodeRay .class-variable{
	color:#369;
}.CodeRay .color{
	color:#0a0;
}.CodeRay .comment{
	color:#777;
}.CodeRay .comment .char{
	color:#444;
}.CodeRay .comment .delimiter{
	color:#444;
}.CodeRay .complex{
	color:#a08;
}.CodeRay .constant{
	color:#036;
	font-weight:bold;
}.CodeRay .decorator{
	color:#b0b;
}.CodeRay .definition{
	color:#099;
	font-weight:bold;
}.CodeRay .delimiter{
	color:#000;
}.CodeRay .directive{
	color:#088;
	font-weight:bold;
}.CodeRay .doc{
	color:#970;
}.CodeRay .doc-string{
	color:#D42;
	font-weight:bold;
}.CodeRay .doctype{
	color:#34b;
}.CodeRay .entity{
	color:#800;
	font-weight:bold;
}.CodeRay .error{
	color:#F00;
	background-color:#FAA;
	padding:0px;
	margin:0px;
	border:0px;
}.CodeRay .escape{
	color:#666;
}.CodeRay .exception{
	color:#C00;
	font-weight:bold;
}.CodeRay .float{
	color:#60e;
}.CodeRay .function{
	color:#06B;
	font-weight:bold;
}.CodeRay .global-variable{
	color:#d70;
}.CodeRay .hex{
	color:#02b;
}.CodeRay .imaginary{
	color:red;
}.CodeRay .include{
	color:#B44;
	font-weight:bold;
}.CodeRay .inline{
	background-color:rgba(0,0,0,0.07);
	color:#000;
}.CodeRay .inline-delimiter{
	font-weight:bold;
	color:#666;
}.CodeRay .instance-variable{
	color:#33b;
}.CodeRay .integer{
	color:#00d;
}.CodeRay .key .char{
	color:#60f;
}.CodeRay .key .delimiter{
	color:#404;
}.CodeRay .key{
	color:#606;
}.CodeRay .keyword{
	color:#080;
	font-weight:bold;
}.CodeRay .label{
	color:#970;
	font-weight:bold;
}.CodeRay .local-variable{
	color:#963;
}.CodeRay .namespace{
	color:#707;
	font-weight:bold;
}.CodeRay .octal{
	color:#40e;
}.CodeRay .predefined{
	color:#369;
	font-weight:bold;
}.CodeRay .predefined-constant{
	color:#069;
}.CodeRay .predefined-type{
	color:#0a5;
	font-weight:bold;
}.CodeRay .preprocessor{
	color:#579;
}.CodeRay .pseudo-class{
	color:#00C;
	font-weight:bold;
}.CodeRay .regexp .content{
	color:#808;
}.CodeRay .regexp .delimiter{
	color:#404;
}.CodeRay .regexp .modifier{
	color:#c2c;
}.CodeRay .regexp{
	background-color:rgba(255,0,255,0.06);
}.CodeRay .reserved{
	color:#080;
	font-weight:bold;
}.CodeRay .shell .content{
	color:#2b2;
}.CodeRay .shell .delimiter{
	color:#161;
}.CodeRay .shell{
	background-color:rgba(0,255,0,0.06);
}.CodeRay .string .char{
	color:#b0b;
}.CodeRay .string .content{
	color:#d20;
}.CodeRay .string .delimiter{
	color:#710;
}.CodeRay .string .modifier{
	color:#e40;
}.CodeRay .string{
	background-color:rgba(255,0,0,0.05);
}.CodeRay .symbol .content{
	color:#a60;
}.CodeRay .symbol .delimiter{
	color:#630;
}.CodeRay .symbol{
	color:#a60;
}.CodeRay .tag{
	color:#070;
}.CodeRay .type{
	color:#339;
	font-weight:bold;
}.CodeRay .value{
	color:#088;
}.CodeRay .variable{
	color:#037;
}.CodeRay .insert{
	background:rgba(0,255,0,0.12);
}.CodeRay .delete{
	background:rgba(255,0,0,0.12);
}.CodeRay .change{
	color:#bbf;
	background:#007;
}.CodeRay .head{
	color:#f8f;
	background:#505;
}.CodeRay .head .filename{
	color:white;
}.CodeRay .delete .eyecatcher{
	background-color:rgba(255,0,0,0.2);
	border:1px solid rgba(230,0,0,0.5);
	margin:-1px;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}.CodeRay .insert .eyecatcher{
	background-color:rgba(0,255,0,0.2);
	border:1px solid rgba(0,128,0,0.5);
	margin:-1px;
	border-top:none;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.CodeRay .insert .insert{
	color:#0c0;
	background:transparent;
	font-weight:bold;
}.CodeRay .delete .delete{
	color:#c00;
	background:transparent;
	font-weight:bold;
}.CodeRay .change .change{
	color:#88f;
}.CodeRay .head .head{
	color:#f4f;
}table.CodeRay{
	width:auto;
}.CodeMirror{
	margin:6px 0;
	line-height:1em;
	border:1px solid #ddd;
	font-family:'Droid Sans Mono', Consolas, Courier New, monospace;
	background-color:#fff;
}.CodeMirror-scroll{
	min-height:250px;
	height:auto;
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
	position:relative;
}.CodeMirror-gutter{
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	background-color:#f7f7f7;
	border-right:1px solid #eee;
	min-width:2em;
	height:100%;
}.CodeMirror-gutter-text{
	color:#aaa;
	text-align:right;
	padding:.4em .2em .4em .4em;
}.CodeMirror-lines{
	padding:.4em;
}.CodeMirror pre{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border-width:0;
	margin:0;
	padding:0;
	background:transparent;
	font-family:inherit;
	font-size:inherit;
	padding:0;
	margin:0;
	white-space:pre;
	word-wrap:normal;
}.CodeMirror textarea{
	font-family:inherit !important;
	font-size:inherit !important;
}.CodeMirror-cursor{
	z-index:10;
	position:absolute;
	visibility:hidden;
	border-left:1px solid black !important;
}.CodeMirror-focused .CodeMirror-cursor{
	visibility:visible;
}span.CodeMirror-selected{
	background:#ccc !important;
	color:HighlightText !important;
}.CodeMirror-focused span.CodeMirror-selected{
	background:Highlight !important;
}.CodeMirror-matchingbracket{
	color:#0f0 !important;
}.CodeMirror-nonmatchingbracket{
	color:#f22 !important;
}.CodeMirror span.cm-keyword{
	color:#080;
	font-weight:bold;
}.CodeMirror span.cm-atom{
	color:#219;
}.CodeMirror span.cm-number{
	color:#164;
}.CodeMirror span.cm-def{
	color:#00f;
}.CodeMirror span.cm-variable{
	color:black;
}.CodeMirror span.cm-variable-2{
	color:#05a;
}.CodeMirror span.cm-variable-3{
	color:#0a5;
}.CodeMirror span.cm-property{
	color:black;
}.CodeMirror span.cm-operator{
	color:black;
}.CodeMirror span.cm-comment{
	color:#777;
}.CodeMirror span.cm-string{
	background-color:rgba(255,0,0,0.05);
	color:#D20;
}.CodeMirror span.cm-string-2{
	background-color:rgba(255,0,0,0.05);
	color:#D42;
}.CodeMirror span.cm-meta{
	color:#555;
}.CodeMirror span.cm-error{
	color:#f00;
}.CodeMirror span.cm-qualifier{
	color:#555;
}.CodeMirror span.cm-builtin{
	color:#30a;
}.CodeMirror span.cm-bracket{
	color:#cc7;
}.CodeMirror span.cm-tag{
	color:#170;
}.CodeMirror span.cm-attribute{
	color:#00c;
}.CodeMirror span.cm-rangeinfo{
	color:#a0b;
}.CodeMirror span.cm-minus{
	color:#a22;
}.CodeMirror span.cm-plus{
	color:#2b2;
}html{
	overflow-y:scroll;
}#logo,#navibar,#pageHeader a,#pageFooter{
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}:focus{
	outline:none;
}::-moz-focus-inner{
	border:0;
}h1,h2{
	line-height:1em;
}#body h2{
	padding-top:20px;
}#body h2.compact{
	padding-top:0px;
}.container{
	padding:20px;
	margin:0px auto;
	width:1018px;
	background:#fafafa;
	box-shadow:1px 1px 8px black;
}#pageHeader{
	clear:both;
}#pageFooter{
	color:#aaa;
	font-size:11px;
	margin:0 auto;
	width:1018px;
}#body{
	/*margin-bottom:2em;*/
	/*margin: 0 5% 5%;*/
}.hline{
	border-bottom:1px solid #ddd;
	font-size:1px;
	height:8px;
}.rfloat{
	float:right;
}.lfloat{
	float:left;
}a{
	text-decoration:none;
	color:#0066CC;
}a:hover{
	text-decoration:underline;
}#headerInfo{
	margin-top:26px;
}#navibar{
	margin-bottom:2em;
}#navibar ul{
	list-style-type:none;
	padding-left:0;
	margin-right:0;
}#navibar li{
	background:transparent;
	margin:0px;
}#navibar li:hover{
	background:none repeat scroll 0 0 #eee;
}#navibar a{
	display:block;
	font-weight: bold;
	padding:3px 15px;
	text-decoration:none;
	color:#8DA2B8;//#333;
}#navibar span{
	color:#DD4C39;
	font-weight:bold;
	display:block;
	padding:3px 15px;
	text-decoration:none;
}#navibar #psnavi{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}#navibar #psnavi ul{
	margin:0px 0px 0px 0px;
}#problemInfo{
	border:1px solid #ddd;
	padding:2px;
	text-align:center;
}#problemInfo .key{
	padding:0px 20px;
	background-color:#ddd;
}.problemIteam{
	font-size: 15px;
	font-weight: bold;
	//margin: 0 0 1.5em 
}
.field_with_errors{
	margin-top:-1em;
	padding:2px;
	background-color:red;
	display:table;
}.field_with_errors label{
	color:#fff;
}#error_explanation{
	width:400px;
	border:2px solid red;
	padding:7px;
	padding-bottom:12px;
	margin-bottom:20px;
	background-color:#fff;
}#error_explanation h2{
	text-align:left;
	font-weight:bold;
	padding:5px 5px 5px 15px;
	font-size:12px;
	margin:-7px;
	background-color:#c00;
	color:#fff;
}#error_explanation ul{
	margin:13px 0px 0px 0px;
}#error_explanation ul li{
	font-size:12px;
	list-style:square;
}.submitRes-0{
	color: #fff;
  	background-color: #FF5722;
  	border-color: #EEA236;
}.submitRes-1{
	color: #fff;
  	background-color: #4285F4;
  	border-color: #357EBD;
}.submitRes-2{
	color:#fff;
	background-color: #9900FF;
  	border-color: #9900FF;
}.submitRes-3,.caseRes-3{
	color: #fff;
  	background-color: #F44336;
  	border-color: #D43F3A;
}.submitRes-4,.submitRes-5,.submitRes-6,.submitRes-7,.submitRes-8,.submitRes-9,.submitRes-10,.submitRes-11,.submitRes-12,.submitRes-13,.caseRes-4,.caseRes-5,.caseRes-6,.caseRes-7,.caseRes-8,.caseRes-9,.caseRes-10,.caseRes-11,.caseRes-12,.caseRes-13{
	color: #fff;
  	background-color: #0F9D58;
 	border-color: #4CAE4C;
}.submitRes-14,.caseRes-14{
	color:#444;
}.admin,.red{
	color:red;
}.green{
	color:green;
}.hidden{
	display:none;
}textarea#sourceCode{
	margin:0px 0px;
	border:1px solid #ddd;
}.code{
	border:1px solid #ddd;
	background:#fff;
	overflow:auto;
}.CodeRay td.code{
	border:0px;
}.CodeRay td.line_numbers{
	margin:0px;
}.CodeRay pre{
	margin:0px;
}.CodeRay .no{
	color:#aaa;
	font-size:0.6em;
}table{
	border:1px solid #ddd;
	background:#f7f7f7;
}.tiny{
	font-size:0.8em;
}table.compact td,table.compact th{
	padding:4px 2px;
}.center{
	text-align:center;
}h4{
	margin-top:1em;
	margin-bottom:0.5em;
	color:gray;
	font-weight:bold;
}div.actions input{
	background-color:#DD4C39;
	border:0px;
	padding:5px 10px;
	margin:3px 0px 20px 0px;
	color:white;
	font-size:13px;
}div.actions input:hover{
	background-color:#F75540;
}div.actions input:active{
	background-color:#913225;
}.news{
	font-size:1.1em;
}.news .date{
	color:#777;
	font-weight:bold;
}.news .flag{
	color:#DD4B39;
	font-weight:bold;
}.tip,.tip a{
	color:#999;
}td pre{
	margin:0;
	padding:0;
}pre{
	overflow:auto;
	font-family:'Droid Sans Mono', Consolas, Courier New, monospace;
}.inlineLog,tr.inlineLog *{
	background:#ffea8c !important;
	overflow:auto;
	padding:0px 0px;
}table thead tr .header{
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
	text-align: center;
}table thead tr .lheader{
	background-position:right center;
	background-repeat:no-repeat;
	text-align: left;	
}table thead tr .headerSortDown{
	background-image:url("/images/desc.gif");
	background-color:#B0C3E6;
}table tbody tr .yellow{
	color:#FFD700;
}table tbody tr .blue{
	color:blue;
}table tbody tr .purple{
	color:purple;
}table tbody tr .red{
	color:red;
}table tbody tr .green{
	color:green;
}table thead tr .headerSortUp{
	background-image:url("/images/asc.gif");
	background-color:#B0C3E6;
}#contest_list tbody tr td{
	text-align: center;
}#ranklist tbody tr td{
	text-align: center;
}#problem_list tbody tr td{
	text-align: center;
}#news_list tbody tr td{
	text-align: center;
}#FAQ_list tbody tr td{
	text-align: left;
}.countDown{
	line-height:1em;
	font-size:3em;
	margin:30px 30px;
}.countDown #timer{
	font-family:Consolas, monospace;
}.jsLink{
	cursor:pointer;
}.sample{
	padding: 9.5px;
  	margin: 10 0 10px;
  	font-size: 13px;
  	line-height: 1.42857143;
  	color: #333;
	word-break: break-all;
  	word-wrap: break-word;
  	background-color: #f5f5f5;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}#motto{
	font-family:"楷体";
	font-size:17px;
}#contestinfo{
	text-align: center;
}.sbmt{
	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.42857143;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  	background-image: none;
  	border: 1px solid transparent;
  	border-radius: 4px;
}.note {
  	padding: 18px 20px;
  	text-decoration:none;
  background:#D2D2CD;
  	display:block;
  	/*margin-top: 10px;*/
  	float: left;
  	padding: 20px 0px 10px 10px;
  	width: 90px;        
  	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  	-webkit-transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
  	font-size: 15px;
}.note a{
	color: #777;
	text-decoration: none;
}.note a:hover, a:focus {
	color: #333;
	background-color: transparent;
	text-decoration: none;
}


.btn-ce {
  color: #333;
  background-color: #9900FF;
  	border-color: #9900FF;
}
.btn-ce:hover,
.btn-ce:focus,
.btn-ce:active,
.btn-ce.active,
.open > .dropdown-toggle.btn-ce {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-ce:active,
.btn-ce.active,
.open > .dropdown-toggle.btn-ce {
  background-image: none;
}
.btn-ce.disabled,
.btn-ce[disabled],
fieldset[disabled] .btn-ce,
.btn-ce.disabled:hover,
.btn-ce[disabled]:hover,
fieldset[disabled] .btn-ce:hover,
.btn-ce.disabled:focus,
.btn-ce[disabled]:focus,
fieldset[disabled] .btn-ce:focus,
.btn-ce.disabled:active,
.btn-ce[disabled]:active,
fieldset[disabled] .btn-ce:active,
.btn-ce.disabled.active,
.btn-ce[disabled].active,
fieldset[disabled] .btn-ce.active {
  	background-color: #9900FF;
  	border-color: #9900FF;
}
.btn-ce .badge {
  background-color: #9900FF;
  	border-color: #9900FF;
}
.btn-ce:not(.btn-link) {
  background-color: #9900FF;
}
